@tailwind base;
@tailwind components;
@tailwind utilities;

/*Below CSS for Navbar */
.underline-on-hover {
  position: relative;
  cursor: pointer;
  margin-right: 20px;
}

.underline-on-hover::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0;
  height: 2px;
  background-color: #2196f3; /* Default color for underline */
  transition: width 0.3s ease-in-out;
}

.underline-on-hover:hover::after,
.underline-on-hover.underline::after {
  width: 100%;
}

.LOGO {
  color: white;
  line-height: 50px; /* Adjust this value as needed */
}

/* Style for active underline */
.underline-on-hover.underline::after {
  background-color: #2196f3; /* Blue color for active underline */
  margin-top: 1px; /* Margin top for active underline */
}


/* Below CSS for Skills section */

.skillTAG{
  font-size: 30px;
  color:white;
 
  font-weight: bold;


}
.skilltec{
  font-size: 20px;
  font-weight: bold;
}

